{% extends "base.html" %}

{% block content %}
<h3>Exams</h3>
<a class="btn btn-primary mb-3" href="{% url 'exams:exam_create' %}">+ Create Exam</a>

<table class="table">
<tr><th>Title</th><th>Course</th><th>Actions</th></tr>
{% for exam in exams %}
<tr>
  <td>{{ exam.title }}</td>
  <td>{{ exam.course }}</td>
  <td>
      <a href="{% url 'exams:exam_detail' exam.id %}" class="btn btn-sm btn-info">View</a>
      <a href="{% url 'exams:exam_edit' exam.id %}" class="btn btn-sm btn-warning">Edit</a>
      <a href="{% url 'exams:exam_delete' exam.id %}" class="btn btn-sm btn-danger">Delete</a>
  </td>
</tr>
{% endfor %}
</table>
{% endblock %}
