<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learnevo LMS</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>Hi {{ user.first_name }} {{ user.last_name }}!</li>
                <li>
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>

    <hr>

    {% block content %}
    {% endblock content %}

</body>
</html>
